@page "/"
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Home </a>
    <form class="form-inline d-flex justify-content-center">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<div class="card">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body bg-light">
        <h5 class="card-title">SoftClub.Tj</h5>
        <p class="card-text">Create your future in Softclub </p>
        <a href="#" class="btn btn-primary ">Register</a>
    </div>
</div>


<form>
  <div class="form-group mt-3">
    <label class="mb-1" for="exampleInputEmail1"> Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
      <label class="
 mt-3" for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label mt-1" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary mt-2 ">Submit</button>
</form>
<br/>
<br/>

<div class="progress">
    <div class="progress-bar " role="progressbar" style="width: 66%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
</div>
<br/>
<br/>
<br/>
     <br/>
<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Hello</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
